<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="w-50 border border-primary m-2 p-5">
            <form action="#" th:action="@{/student/addcoursesforstudent}" th:object="${course}" method="post">
           Just Enter The Course Id to add Course: <br> <input type="text" th:field="*{CourseID}"><br>
                <input type="hidden" name="id" th:value="${keepId}">
                <input class="btn-btn-md btn-success" type="submit" value="Add it">
            </form>


            <h2>Remaning Courses For Student:<span th:text="${keepName}"></span></h2>
            <table class="table table-dark  table-hover ">
                <tr>
                    <th>Course Id</th>
                    <th>Course name</th>
                    <th>Course Level</th>
                    <th>Course prerequisite</th>
                </tr>
                <tr th:each="course: ${courses}">
                    <td th:text="${course.CourseID}">0</td>
                    <td th:text="${course.Coursename}">0</td>
                    <td th:text="${course.Courselevel}">0</td>
                    <td th:text="${course.prerequisite}">0</td>
                </tr>
            </table>
            <br>
            <a class="btn btn-success btn-md" href="/enrollment/">Go to Enrollment Index Page</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>