<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Time To delete Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="w-50 border border-primary m-4 p-5">
            <h1>Enter Student Credentials to delete Student</h1>
            <form action="#" th:action="@{/student/delete}" th:object="${student}" method="post">
                Enter The Student Id: <br> <input class="form-control" type="text" th:field="*{id}"><br>
                Enter The First Name <br> <input class="form-control" type="text" th:field="*{firstname}"><br>
                Enter The Last Name <br> <input class="form-control" type="text" th:field="*{lastname}"><br>
                Enter The Country <br> <input class="form-control" type="text" th:field="*{country}"><br>
                Enter The Student Gpa <br> <input class="form-control" type="text" th:field="*{gpa}"><br>
                <button class="btn btn-success btn-sm" type="submit">Delete it</button>
            </form>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>