<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Welcome Students Crud Operations</title>

</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="w-50">
            <h1>Students CRUD Operations  </h1><br>
            <a class="btn btn-sm btn-success" href="/student/new">Add a  new Student</a>
            <br>
            <form name="findbyid" action="/student/update" method="GET">
                Update Student by Id <br> <input required class="form-control" type="text" name="id">
                <p style="color:red"  th:text="${message2}"></p>
                <button  type="submit" class="btn btn-warning btn-sm mt-2" value="">Update or add</button>
            </form>
            <br>
            <form action="/student/deleted" method="GET">
                Delete Student by Id  <br><input required class="form-control"  type="text" name="id">
                <p style="color:red"  th:text="${message3}"></p>
                <button class="btn btn-warning btn-sm mt-2"  type="submit" >delete</button>
            </form>
            <br>
            <form action="/student/id" method="GET">
                Find Student by Id <br> <input required class="form-control" type="text" name="id">
                <p style="color:red"  th:text="${message1}"></p>
                <button class="btn btn-warning btn-sm mt-2" type="submit" >FindById</button>
            </form>
            <br>
            <form action="/student/gethighgpa" method="get">
                <button class="btn btn-warning btn-sm mt-2"  type="submit"> Get Students  More than 3.5 GPA</button>
            </form>

            <a class="btn btn-sm btn-success" href="/student/list"> Click Here to see Student List</a>
            <br>

            <br>

            <a class="btn btn-sm btn-danger" href="/course/"> Go to Course Index page</a>
            <a class="btn btn-warning btn-sm mt-2" href="/enrollment/"> Go to Enrollment Index page</a>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

