<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Students List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="w-50">
            <a th:text="${message}"></a>
            <br>

            <table class="table table-striped">
                <tr>
                    <th scope="col">Student Id</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Country</th>
                    <th scope="col">Gpa</th>
                </tr>
                <tr th:each="student: ${students}">
                    <td th:text="${student.id}">0</td>
                    <td th:text="${student.firstname}">0</td>
                    <td th:text="${student.lastname}">0</td>
                    <td th:text="${student.country}">0</td>
                    <td th:text="${student.gpa}">0</td>
                </tr>
            </table>

            <a class="btn btn-sm btn-success" href="/student/"> Go to index Page </a>


        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>